{% extends 'base.html' %}

{% block main_content %}
<button onclick="location.href='{% url 'currency:rate-create' %}';">Create Rate</button>

    {% for rate in object_list %}
       <p>
            ID: {{ rate.id }}
            Type: {{ rate.get_type_display }}
            Buy: {{ rate.buy }}
            Sale: {{ rate.sale }}
            Source: {{ rate.bank.name }}
            Created: {{ rate.created }}
            {% if request.user.is_authenticated %}
                <a href="{% url 'currency:rate-details' pk=rate.id %}">Details</a>
            {% endif %}
            {% if request.user.is_superuser %}
                <a href="{% url 'currency:rate-update' pk=rate.id %}">Edit</a>
            {% endif %}
       </p>
    {% endfor %}
{% endblock main_content %}