{% extends 'base.html' %}

{% block main_content %}
    <a href="{% url 'currency:rate-create' %}">Create Rate</a>

    {% for rate in object_list %}
       <p>
            ID: {{ rate.id }}
            Buy: {{ rate.buy }}
            Sale: {{ rate.sale }}
            Source: {{ rate.source }}
            Created: {{ rate.created }}
            <a href="{% url 'currency:rate-details' pk=rate.id %}">Details</a>
            <a href="{% url 'currency:rate-update' pk=rate.id %}">Edit</a>
       </p>
    {% endfor %}
{% endblock main_content %}