{% extends 'base.html' %}

{% block main_content %}
    <table border="1">
        <tr><th>О банке</th></tr>
        <tr><td>Основанный в 1992 году, коммерческий банк ПриватБанк является лидером банковского рынка страны. По данным исследования CBR Ukraine в IV квартале 2020 года с нами сотрудничают 62% украинцев – физических лиц старше 16 лет. Считают основным банком 49,4% пользователей банковских услуг – физических лиц, что больше, чем в следующих за нами двадцати банках вместе взятых.</td></tr>
    </table>
{% endblock main_content %}

