{% extends 'base.html' %}

{% block main_content %}

<button onclick="location.href='{% url 'currency:source-create' %}';">Create Source</button>
<button onclick="location.href='{% url 'currency:source-privatbank' %}';">PrivatBank Info</button>

    {% for bank in objects %}
        <p>
            ID: {{ bank.id }}
            NAME: {{ bank.name }}
            URL: {{ bank.url }}
            {% if request.user.is_superuser %}
                <a href="{% url 'currency:source-update' pk=source.id %}">Edit</a>
            {% endif %}
        </p>
    {% endfor %}

{% endblock main_content %}

